body
{
    font-family: Roboto, "Helvetica Neue", sans-serif, Arial;
    padding: 1vh;
    background-color: ;


}

input::placeholder {
  color: grey;
  opacity: 1;
  font-size: 12px;
}


#colCards
{
	margin-top: 2vh;
}

.dropdown
{
	margin-left: 11vw;
}

.colCard
{
	margin-top: 1vh;
}

.card-text
{
	color:white;
}

.row1
{
	height: 5vh;
	background-color: white;
}
.row2
{
	margin-left: 32vw;
	height: 5vh;
	background-color: white;
}
.row3
{
	height: 88vh;
}


.col-header
{
	color: white;
	position: relative;
	margin-top: 2vh;
	text-align: center;
	font-weight: bold;
	background-color: black;
}


.col-buttons
{
	position: relative;
	margin-left: 10.5vw;
	margin-top: 1vh;
}