body
{
    font-family: Roboto, "Helvetica Neue", sans-serif, Arial;
    padding: 1vh;
    background-color: lightgrey;


}

.row1
{
	height: 5vh;
	background-color: white;
}
.row2
{
	height: 5vh;
	background-color: white;
}
.row3
{
	height: 88vh;
}


.col-header
{
	color: white;
	position: relative;
	margin-top: 2vh;
	text-align: center;
	font-weight: bold;
	background-color: black;
}


.col-buttons
{
	position: relative;
	margin-left: 10.5vw;
	margin-top: 1vh;
}